---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<div class="post-content" itemprop="articleList">
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <ul class="post-list" style="display:none">
    {% assign date = currentdate %}
  {% endif %}
    <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">1</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
</div>
</article>
